*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: space-around;
  padding: 30px 100px;
  background: coral;
  transition: all 0.3s ;
}
nav.sticky {
  padding: 20px 60px;
  background: #fff;
  color: #000;
}
nav .logo-area a{
  text-decoration: none;

}
nav ul{
  display: flex;
}
nav ul li{
  list-style: none;
  padding: 0 30px;
}
nav ul li a{
  text-decoration: none;
  text-transform: uppercase;
}
input[type="checkbox"]{
  display: none;
}
.icon i{
  display: none;
}

section{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.about{
  background: lightblue;
}
.Services{
  background: lightcoral;
}
.Portfolio{
  background: lightgreen;
}


@media (max-width: 550px) {
  nav{
    justify-content: space-between;
  }
  .icon i{
    display: flex;
  }
  .nav-link{
    position: fixed;
    top: 60px;
    left: -100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100vh;
    background: royalblue;
    transition:all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  }
  .nav-link li{
    margin-top: 40px;
    display: block;
  }
  #menu-icon:checked ~ ul{
    left: 0;
  }
  #menu-icon:checked ~ .icon i::before{
    content: "\f00d";
  }
}